<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <div class="icon-box">
                <div class="icon">{% asset badge-icon.png %}</div>
                <div class="content">
                    <div class="title">Trusted User Base</div>
                    <p>
                        All data is submitted by KYC Verified participants who have submitted their data honestly. This ensures that the quality of data and our network improves over time.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="icon-box">
                <div class="icon">{% asset free-icon.png %}</div>
                <div class="content">
                    <div class="title">Free Account Creation</div>
                    <p>
                        By powering our own network, we can offer free account creation. Currently, account creation can cost $5-10 or more per account.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="icon-box">
                <div class="icon">{% asset secure-colored-icon.png %}</div>
                <div class="content">
                    <div class="title">Secure Multiparty Computation</div>
                    <p>
                        Secure Multiparty Computation allows a number of parties to jointly perform computations on private inputs without releasing information other than that which has been agreed upon.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="icon-box">
                <div class="icon">{% asset increase-icon.png %}</div>
                <div class="content">
                    <div class="title">Increased Token Utility</div>
                    <p>
                        blockhainr users will be able to vote on key issues to help fulfill our core mission, produce blocks, and receive additional benefits and rewards.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="icon-box">
                <div class="icon">{% asset reputation-icon.png %}</div>
                <div class="content">
                    <div class="title">On Chain Reputation</div>
                    <p>
                        User interactions offer rating options after each interation that commit values to the blockchain and assign scores.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>