<div class="section">
    <div class="container">
        <div class="section-title">Testimonials</div>

        <div class="testimonials-slider mt-5">
            <ul class="slides">
                <li>
                    <div class="testimonial-card">
                        <p>Confirming identities with Insights Network KYC Solutions saved a ton of time and resources.</p>
                        <div class="author">
                            <div class="image">{% asset testimonial-2.png %}</div>
                            <div class="info">
                                <div class="name">Richard Ma</div>
                                <div class="position">Co-founder & CEO Quantstamp</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial-card">
                        <p>Insights Network provided Layer Protocol with an efficient and streamlined solution for identity verification.</p>
                        <div class="author">
                            <div class="image">{% asset testimonial-3.png %}</div>
                            <div class="info">
                                <div class="name">Euwyn Poon</div>
                                <div class="position">Co-founder Layer Protocol</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial-card">
                        <p>This is data exchange in its simplest form and demonstrates the beginning of our data exchange marketplace.</p>
                        <div class="author">
                            <div class="image">{% asset testimonial-1.png %}</div>
                            <div class="info">
                                <div class="name">Brian Gallagher</div>
                                <div class="position">Co-founder & CEO Insights Network</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="tes-controls">
                <a href="" class="flex-prev"><i class="fa fa-arrow-left"></i></a>
                <a href="" class="flex-next"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>