---
layout: public
---
<!-- SUBHEADER NAVBAR -->
<div class="subheader-nav">
    <div class="container">
        <ul>
            <li><a href="business-dashboards.html" class="active">Dashboards</a></li>
            <li><a href="business-how.html">How it works</a></li>
            <li><a href="business-pricing.html">Pricing</a></li>
            <li><a href=""><i class="fa fa-envelope"></i> Contact Us</a></li>
        </ul>
    </div>
</div>

<!-- HERO -->
<div class="dashboard-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="hero-content">
                    <div class="alert alert-warning">
                        <div class="alert-title">news</div>
                        <div class="alert-content">Fuel your first campaign with a 25% INSTAR Bonus</div>
                    </div>
                    <h1>Gain the insights you need</h1>
                    <p>
                        Access thousands of targeted KYC verified minds in just minutes
                    </p>
                    <a href="" class="btn btn-secondary btn-md mt-4 d-none d-sm-none d-md-inline-block">Launch Dashboard</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="hero-image">{% asset webapp.png %}</div>
            </div>
        </div>

        <div class="text-center mt-4 d-md-none d-sm-block">
            <a href="" class="btn btn-secondary btn-md h-54 font-weight-bold">Launch Dashboard</a>
        </div>
    </div>
</div>

<!-- USE CASES -->
<div class="section">
    <div class="container">
        <div class="section-title">Use Cases</div>
        <div class="horizontal-tabs mt-5">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" data-toggle="tab" href="#surveys">
                    <div class="icon">{% asset polls-icon.svg %}</div>
                    <div class="title">Surveys</div>
                </a>
                <a class="nav-item nav-link" data-toggle="tab" href="#polls">
                    <div class="icon">{% asset polls-icon.svg %}</div>
                    <div class="title">Polls</div>
                </a>
                <a class="nav-item nav-link" data-toggle="tab" href="#prediction">
                    <div class="icon">{% asset polls-icon.svg %}</div>
                    <div class="title">Prediction Markets</div>
                </a>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="surveys">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="poll-item">
                                <div class="logo">
                                    {% asset swytch.png class=mw-100 %}
                                </div>
                                <div class="text">
                                    <div class="title">Energy Poll</div>
                                    <p>
                                        Who do you think is responsible for reducing the world's carbon footprint?
                                    </p>
                                    <div class="reward">
                                        <span>Reward</span>
                                        <div class="reward-score">
                                            {% asset logo-icon.png %} 3 INSTAR
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% asset pie-chart.png class=poll-image %}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-6">
                            <div class="poll-item">
                                <div class="logo">
                                    {% asset rivetz.png class=mw-100 %}
                                </div>
                                <div class="text">
                                    <div class="title">Cryptocurrency Transaction Security</div>
                                    <p>
                                        Would you feel comfortable executing cryptocurrency transactions on a device you don't own?
                                    </p>
                                    <div class="reward">
                                        <span>Reward</span>
                                        <div class="reward-score">
                                            {% asset logo-icon.png %} 3 INSTAR
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% asset pie-chart.png class=poll-image %}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-6">
                            <div class="poll-item">
                                <div class="logo">
                                    {% asset instar.png class=mw-100 %}
                                </div>
                                <div class="text">
                                    <div class="title">Lorem Ipsum</div>
                                    <p>
                                        Which type of data do you feel most uncomfortanle about being shared?
                                    </p>
                                    <div class="reward">
                                        <span>Reward</span>
                                        <div class="reward-score">
                                            {% asset logo-icon.png %} 2 INSTAR
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% asset pie-chart.png class=poll-image %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="polls">...</div>
                <div class="tab-pane fade" id="prediction">...</div>
            </div>
        </div>
        
        
        <!-- MOBILE TABS -->
        <div class="horizontal-mobile-tabs" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <a href="" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <div class="icon">{% asset polls-icon.svg %}</div>
                        <div class="title">Surveys</div>
                    </a>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="poll-item">
                                    <div class="logo">
                                        {% asset swytch.png class=mw-100 %}
                                    </div>
                                    <div class="text">
                                        <div class="title">Energy Poll</div>
                                        <p>
                                            Who do you think is responsible for reducing the world's carbon footprint?
                                        </p>
                                        <div class="reward">
                                            <span>Reward</span>
                                            <div class="reward-score">
                                                {% asset logo-icon.png %} 3 INSTAR
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% asset pie-chart.png class=poll-image %}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 100px">
                            <div class="col-md-6">
                                <div class="poll-item">
                                    <div class="logo">
                                        {% asset rivetz.png class=mw-100 %}
                                    </div>
                                    <div class="text">
                                        <div class="title">Cryptocurrency Transaction Security</div>
                                        <p>
                                            Would you feel comfortable executing cryptocurrency transactions on a device you don't own?
                                        </p>
                                        <div class="reward">
                                            <span>Reward</span>
                                            <div class="reward-score">
                                                {% asset logo-icon.png %} 3 INSTAR
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% asset pie-chart.png class=poll-image %}
                            </div>
                        </div>
                        <div class="row" style="margin-top: 100px">
                            <div class="col-md-6">
                                <div class="poll-item">
                                    <div class="logo">
                                        {% asset instar.png class=mw-100 %}
                                    </div>
                                    <div class="text">
                                        <div class="title">Lorem Ipsum</div>
                                        <p>
                                            Which type of data do you feel most uncomfortanle about being shared?
                                        </p>
                                        <div class="reward">
                                            <span>Reward</span>
                                            <div class="reward-score">
                                                {% asset logo-icon.png %} 2 INSTAR
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% asset pie-chart.png class=poll-image %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <a href="" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="icon">{% asset polls-icon.svg %}</div>
                        <div class="title">Polls</div>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        tab 2
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <a href="" class="btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="icon">{% asset polls-icon.svg %}</div>
                        <div class="title">Prediction Markets</div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        tab 3
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BENEFITS -->
<div class="section">
    <div class="container">
        <div class="section-title">Benefits</div>
        <div class="benefits-image">
            {% asset benefits-phone.png class=w-100 %}
        </div>
        <div class="row benefits">
            <div class="col-md-4">
                <div class="text-right">
                    <strong class="text-primary">High Quality</strong>
                    <p>
                        All data is submitted KYC Verified participants who have submitted their data honestly. This ensures that the quality of data and our network improves over time.
                    </p>
                    <strong class="text-primary">Cost Effective</strong>
                    <p>
                        Using the blockhainr Requester Dashboard less expensive than traditional solutions with middlemen.
                    </p>
                    <strong class="text-primary">Target Audience</strong>
                    <p>
                        Gather data from specific populations, for example only those between the ages of 20 to 35.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                    {% asset benefits-phone.png %}
                </div>
            <div class="col-md-4">
                <strong class="text-primary">Timely and Convenient</strong>
                <p>
                    get answers to questions quickly without worrying about the details of how to reach your target demographic.
                </p>
                <strong class="text-primary">Blockchain Verifiable Result</strong>
                <p>
                    Unlike traditional solutions with no proof, blockhainr campaign results are transparently displayed for verification using blockchain technology. This protects researches from inaccurate results and data brokerage abuse.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- TESTIMONIALS -->
{% include testimonials.html %}

<!-- PARTNERS -->
{% include partners.html %}

<hr>

<!-- CTA -->
<div class="section bg-white">
    <div class="container">
        <div class="section-title">Join Our Growing Network</div>
        <div class="section-subtitle">Create an account in a few easy steps</div>

        <div class="text-center m-t-50">
            <a href="" class="btn btn-lg btn-primary" style="padding: 0 100px">Get Started</a>
        </div>
    </div>
</div>