---
layout: public
---
<!-- SUBHEADER NAVBAR -->
<div class="subheader-nav">
    <div class="container">
        <ul>
            <li><a href="business-dashboards.html">Dashboards</a></li>
            <li><a href="business-how.html" class="active">How it works</a></li>
            <li><a href="business-pricing.html">Pricing</a></li>
            <li><a href=""><i class="fa fa-envelope"></i> Contact Us</a></li>
        </ul>
    </div>
</div>

<!-- HERO -->
<div class="business-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="hero-content">
                    <div class="alert alert-warning">
                        <div class="alert-title">news</div>
                        <div class="alert-content">Fuel your first campaign with a 25% INSTAR Bonus</div>
                    </div>
                    <h1>How It Works</h1>
                    <p>
                        Access thousands of targeted KYC Verified minds in just minutes
                    </p>
                    <a href="" class="btn btn-secondary btn-md mt-4 d-none d-sm-none d-md-inline-block">Launch Dashboard</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="hero-image">
                    {% asset business-hero-image.png %}
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4 d-md-none d-sm-block">
            <a href="" class="btn btn-secondary btn-md h-54 font-weight-bold">Launch Dashboard</a>
        </div>
    </div>
</div>

<!-- FEATURES -->
<div class="section">
    <div class="container">
        <div class="features">
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <div class="feature feature-left">
                        <div class="icon">{% asset feature-1.svg %}</div>
                        <div class="title">
                            
                            <span><div class="number">1</div> Target Audience</span>
                        </div>
                        <p>
                            All the Lorem Ipsum generators on the internet ten to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="feature feature-right">
                        <div class="icon">{% asset feature-2.svg %}</div>
                        <div class="title">
                            <span><div class="number">2</div> Create Request</span>
                        </div>
                        <p>
                            All the Lorem Ipsum generators on the internet ten to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <div class="feature feature-left">
                        <div class="icon">{% asset feature-3.svg %}</div>
                        <div class="title">
                            
                            <span><div class="number">3</div> Pay with INSTAR</span>
                        </div>
                        <p>
                            All the Lorem Ipsum generators on the internet ten to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-6">
                    <div class="feature feature-right">
                        <div class="icon">{% asset feature-4.svg %}</div>
                        <div class="title">
                            <span><div class="number">4</div> Launch Campaign</span>
                        </div>
                        <p>
                            All the Lorem Ipsum generators on the internet ten to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <div class="feature feature-left">
                        <div class="icon">{% asset feature-5.svg %}</div>
                        <div class="title">
                            
                            <span><div class="number">5</div> Analyze Results</span>
                        </div>
                        <p>
                            All the Lorem Ipsum generators on the internet ten to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BENEFITS -->
<div class="section">
    <div class="container">
        <div class="section-title">Benefits</div>
    </div>
    {% include benefits.html %}
</div>

<!-- TESTIMONIALS -->
{% include testimonials.html %}

<!-- PARTNERS -->
{% include partners.html %}

<hr>

<!-- CTA -->
<div class="section white-bg">
    <div class="container">
        <div class="section-title">Join Our Growing Network</div>
        <div class="section-subtitle">Create an account in a few easy steps</div>

        <div class="text-center">
            <a href="" class="btn btn-lg btn-primary" style="padding: 0 100px">Get Started</a>
        </div>
    </div>
</div>