---
layout: public
---
<!-- HERO -->
<div class="hero-gradient map-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center">
                <a href="" class="full-map">see full map <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="col-md-7">
                <div class="hero-content">
                    <h1>Our Blockchain</h1>
                    <p class="m-b-50">
                        blockhainr blockchain uses EOS open source software to ensure high speed, free transactions across the network. The 21 blocks producers are dedicated blockhainr INSTAR token holders who believe in the mission to secure our data on the Internet and retain ownership of our data.
                    </p>
                    <a href="" class="btn btn-primary btn-md h-54 m-r-20 font-weight-bold" style="padding: 0 30px">Become a Block Producer</a>
                    <a href="" class="btn btn-secondary btn-md h-54 font-weight-bold" style="padding: 0 20px">INSTAR Blockchain Explorer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BENEFITS -->
<div class="section">
    <div class="container m-b-100">
        <div class="section-title">Benefits</div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row m-t-96">
                    <div class="col-md-4">
                        <div class="benefits-card">
                            <div class="icon">{% asset speed-icon.png %}</div>
                            <div class="text">High Speed</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benefits-card">
                            <div class="icon">{% asset lowcost-icon.png %}</div>
                            <div class="text">Low Cost</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="benefits-card">
                            <div class="icon">{% asset trustworthy-icon.png %}</div>
                            <div class="text">Trustworthy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include benefits.html %}
</div>

<!-- DIAGRAM -->
<div class="section pb-0">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% asset diagram.png class=w-100 %}
            </div>
        </div>
    </div>
</div>

<!-- TESTIMONIALS -->
{% include testimonials.html %}

<!-- PARTNERS -->
{% include partners.html %}

<hr>

<!-- CTA -->
<div class="section">
    <div class="container">
        <div class="section-title">Elevate Your Business</div>
        <div class="section-subtitle">Create an account in a few easy steps</div>

        <div class="text-center m-t-50">
            <a href="" class="btn btn-lg btn-primary" style="padding: 0 100px">Get Started</a>
        </div>
    </div>
</div>