---
layout: public
---
<!-- HERO -->
<div class="business-hero verification-hero">
    <div class="container border-top-0">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-image">
                    {% asset verification.png class=mw-100 %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content">
                    <h1>KYC Verification</h1>
                    <p>
                        Access thousands of targeted KYC verified minds in just <br>minutes.
                    </p>
                    <a href="" class="btn btn-secondary d-none d-sm-none d-md-inline-block">Talk with an expert</a>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4 d-md-none d-sm-block">
            <a href="" class="btn btn-secondary btn-md h-54 font-weight-bold">Talk with an expert</a>
        </div>
    </div>
</div>

<!-- USE CASES -->
<div class="section">
    <div class="container">
        <div class="section-title">Use Cases</div>
        
        <div class="row mt-5 usecases-tabs">
            <div class="col-md-8">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="tab-title">
                            {% asset data-nodes.png %}
                            <span>Data Nodes</span>
                        </div>
                        <div class="tab-text">
                            <p class="text-gray mt-5 mb-5">
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                            <a href="" class="btn btn-md btn-primary mr-3">Learn More</a>
                            <a href="" class="btn btn-md btn-secondary">Create Survey {% asset arrow-right.png %}</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="tab-title">
                            {% asset data-nodes.png %}
                            <span>Block Producer Network</span>
                        </div>
                        <div class="tab-text">
                            <p class="text-gray mt-5 mb-5">
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                            <a href="" class="btn btn-md btn-primary mr-3">Learn More</a>
                            <a href="" class="btn btn-md btn-secondary">Create Survey {% asset arrow-right.png %}</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="tab-title">
                            {% asset data-nodes.png %}
                            <span>Creating Polls and Surveys</span>
                        </div>
                        <div class="tab-text">
                            <p class="text-gray mt-5 mb-5">
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                            <a href="" class="btn btn-md btn-primary mr-3">Learn More</a>
                            <a href="" class="btn btn-md btn-secondary">Create Survey {% asset arrow-right.png %}</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="tab-title">
                            {% asset data-nodes.png %}
                            <span>Predicting Markets</span>
                        </div>
                        <div class="tab-text">
                            <p class="text-gray mt-5 mb-5">
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                            <a href="" class="btn btn-md btn-primary mr-3">Learn More</a>
                            <a href="" class="btn btn-md btn-secondary">Create Survey {% asset arrow-right.png %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Data Nodes</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Block Producer Network</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Creating Polls and Surveys</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Predicting Markets</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Viewing Survey Results</a>
                </div>
            </div>
        </div>
        
        <div class="usecases-slider mt-5">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <div class="slide-title">
                            {% asset data-nodes.png %}
                            <span>Data Nodes</span>
                        </div>
                        <div class="slide-text">
                            <p>
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            {% asset data-nodes.png %}
                            <span>Block Producer Network</span>
                        </div>
                        <div class="slide-text">
                            <p> 
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            {% asset data-nodes.png %}
                            <span>Creating Polls and Surveys</span>
                        </div>
                        <div class="slide-text">
                            <p>
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="slide-title">
                            {% asset data-nodes.png %}
                            <span>Predicting Markets</span>
                        </div>
                        <div class="slide-text">
                            <p>
                                INSTAR token holders power the network producing blocks validating transactions on the network. There are 5 different levels of DataNodes with different benefits based on criteria such as tokens earned and stored on the app.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            
            <a href="" class="btn btn-md btn-primary font-weight-bold btn-block m-b-25">Learn More</a>
            <a href="" class="btn btn-md btn-secondary font-weight-bold btn-block">Create Survey {% asset arrow-right.png class=m-l-10 %}</a>
        </div>
    </div>
</div>

<!-- HOW IT WORKS -->
<div class="section" style="background:#f4f5f9">
    <div class="container">
        <div class="section-title">How it works</div>
        <div class="section-subtitle">blockhainr KYC Verification Solutions allow individuals <br>to verify their identity for participation in your business.</div>

        <div class="horizontal-tabs m-t-100">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" href="#desktop" data-toggle="tab">
                    <div class="icon">{% asset desktop-icon.svg %}</div>
                    <div class="title">Desktop</div>
                </a>
                <a class="nav-item nav-link" href="#mobile" data-toggle="tab">
                    <div class="icon">{% asset desktop-icon.svg %}</div>
                    <div class="title">Mobile</div>
                </a>
            </div>
            <div class="tab-content bg-transparent how-it-works">
                <div class="tab-pane fade show active" id="desktop">
                    <div class="row" style="align-items: center">
                        <div class="col-md-6">
                            {% asset verifying-documents.png class=w-100 %}
                        </div>
                        <div class="col-md-4">
                            <div class="paragraph-numbered p-right">
                                <div class="title">
                                    <span><div class="number">1</div> Verifying Documents</span>
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="align-items: center">
                        <div class="col-md-4 offset-md-2">
                            <div class="paragraph-numbered p-left">
                                <div class="title">
                                    <span><div class="number">2</div> Success</span>
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            {% asset success.png class=w-100 %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="mobile">mob</div>
            </div>
        </div>
    </div>
</div>

<!-- BENEFITS -->
<div class="section">
    <div class="container">
        <div class="section-title">Benefits</div>
        <div class="row m-t-100">
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset reduce-fraud-icon.svg %}</div>
                    <div class="text bold">Reduce Fraud</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset save-time-icon.svg %}</div>
                    <div class="text bold">Save Time</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset exceed-compliance-icon.svg %}</div>
                    <div class="text bold">Exceed Compliance <br> Standards</div>
                </div>
            </div>
        </div>
        <hr class="m-t-40 d-none d-sm-none d-md-block">
        <div class="row m-t-40">
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset easy-integration-icon.svg %}</div>
                    <div class="text bold">Easy Integration</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset one-click-icon.svg %}</div>
                    <div class="text bold">One Click <br> Subscription</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="benefits-card">
                    <div class="icon">{% asset secure-data-icon.svg %}</div>
                    <div class="text bold">Private and Secure <br> Data Storage</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TESTIMONIALS -->
{% include testimonials.html %}

<!-- PARTNERS -->
{% include partners.html %}

<hr>

<!-- CTA -->
<div class="section white-bg">
    <div class="container">
        <div class="section-title">Join Our Growing Network</div>
        <div class="section-subtitle">Create an account in a few easy steps</div>

        <div class="text-center">
            <a href="" class="btn btn-lg btn-primary" style="padding: 0 100px">Get Started</a>
        </div>
    </div>
</div>